body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header-color{
    color: orange;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    float: center;
}
.link-button{
    background: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
