body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: justify;
}
.header-color{
    color: orange;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    background: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box-height{
    font-size: 40px;
    text-align: initial;
}
.experience-item{
    box-shadow: 5px 7px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 4%;
    border-radius: 8px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stack-area{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
#baby-web-area{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 12px;
}
